@import url('https://fonts.googleapis.com/css?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Barriecito|Cabin+Sketch|Finger+Paint|Frijole|Love+Ya+Like+A+Sister|Monoton&display=swap');
//  ******************CUTSOMIZE BOOTSTRAP******************

$primary: #2c5d0f;
$success: #3f996b;
$danger: #fc8d36;
$warning: #cb515f;
$light: #fbeccf;
$dark: #232020;

// COLORS IN rbga WITH 0.7 OPACITY

// $primary: rgba(44, 93, 15, 0.7);
// $success: rgba(63, 153, 107, 0.7);
// $danger: rgba(252, 141, 54, 0.7);
// $warning: rgba(203, 81, 95, 0.7);
// $light: rgba(251, 236, 207, 0.7);
// $dark: rgba(35, 32, 32, 0.7);

$font-family-base: 'Dekko', cursive;

$link-hover-color: 0%;
$emphasized-link-hover-darken-percentage: 0%;

@import 'bootstrap';

//  ****************** end of CUTSOMIZE BOOTSTRAP******************

@mixin bg-cover {
  background-size: cover;
}

body {
  //overflow-x: hidden;
  background-color: $light;
  color: $dark;
  position: relative;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  min-width: 280px;
  max-width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  transition: all 0.3s;
  background: linear-gradient(
      to bottom,
      rgba(251, 236, 207, 0.9),
      90%,
      transparent
    ),
    url('../img/photo_cocktail_05.jpg');
  @include bg-cover;
  h1 {
    a {
      letter-spacing: 3px;
      color: $success;
    }
    a:hover {
      color: $success;
    }
  }
  li {
    a {
      text-transform: uppercase;
      letter-spacing: 5px;
      color: $success;
    }
    a:hover,
    a:active {
      color: $danger;
    }
  }
}

#content {
  width: calc(100% - 280px);
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $success !important;
}

.nav-link:hover,
.active {
  color: $danger !important;
}

.carousel-item {
  height: 100vh;
}

.carousel-caption {
  bottom: 25%;
}

.carousel-image-1 {
  background: linear-gradient(to top, rgba(44, 93, 15, 0.7), 80%, transparent),
    url('../img/photo_cocktail_01.jpg');
  @include bg-cover;
}

.carousel-image-2 {
  background: linear-gradient(to top, rgba(44, 93, 15, 0.7), 80%, transparent),
    url('../img/photo_cocktail_02.jpg');
  @include bg-cover;
}

.carousel-image-3 {
  background: linear-gradient(to top, rgba(35, 32, 32, 0.7), 20%, transparent),
    url('../img/photo_cocktail_03.jpg');
  @include bg-cover;
}

.carousel-image-4 {
  background: linear-gradient(to top, rgba(63, 153, 107, 0.7), 80%, transparent),
    url('../img/photo_cocktail_04.jpg');
  @include bg-cover;
}

.headers {
  letter-spacing: 5px;
  position: relative;
  min-height: 200px;
  background: linear-gradient(to top, rgba(44, 93, 15, 0.7), 90%, transparent),
    url('../img/photo_cocktail_06.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home-cards1:hover,
.home-cards2:hover,
.home-cards3:hover,
.cocktail-cards1:hover,
.cocktail-cards2:hover,
.cocktail-cards3:hover,
.cocktail-cards4:hover,
.cocktail-cards5:hover {
  transition: all 0.7s;
  cursor: pointer;
  $emphasized-link-hover-darken-percentage: 0%;
}

.home-cards1:hover {
  background-color: $primary;
  color: $success !important;
}

.home-cards2:hover {
  background-color: $danger;
  color: $dark !important;
}

.home-cards3:hover {
  background-color: $warning;
  color: $danger !important;
}

.cocktail-cards1:hover,
.cocktail-cards2:hover,
.cocktail-cards3:hover,
.cocktail-cards4:hover,
.cocktail-cards5:hover {
  color: $light !important;
}

.cocktail-cards1:hover {
  background-color: $primary;
  color: $light !important;
}

.cocktail-cards2:hover {
  background-color: $success;
  color: $light !important;
}

.cocktail-cards3:hover {
  background-color: $danger;
  color: $light !important;
}

.cocktail-cards4:hover {
  background-color: $warning;
  color: $light !important;
}

.cocktail-cards5:hover {
  background-color: $dark;
  color: $light !important;
}

.img-bg-about {
  background: radial-gradient(transparent 10%, rgb(251, 236, 207));
  height: 100%;
}

.img-fluid-about {
  position: relative;
  z-index: -1;
}

// $primary: rgba(44, 93, 15, 0.7);
// $success: rgba(63, 153, 107, 0.7);
// $danger: rgba(252, 141, 54, 0.7);
// $warning: rgba(203, 81, 95, 0.7);
// $light: rgba(251, 236, 207, 0.7);
// $dark: rgba(35, 32, 32, 0.7);

.modal-background-green {
  background: linear-gradient(
      to bottom,
      rgba(63, 153, 107, 0.7),
      70%,
      rgba(35, 32, 32, 0.7)
    ),
    url('../img/photo_cocktail_mojito.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-dark-green {
  background: linear-gradient(
      to bottom,
      rgba(63, 153, 107, 0.7),
      70%,
      rgba(35, 32, 32, 0.7)
    ),
    url('../img/photo_cocktail_moscow_mule.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-blue {
  background: linear-gradient(black, rgba(0, 255, 255, 0.7), 80%, black),
    url('../img/photo_cocktail_blue_hawaiian.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-orange {
  background: linear-gradient(
      to bottom,
      rgba(252, 141, 54, 0.7),
      40%,
      rgba(251, 236, 207, 0.7)
    ),
    url('../img/photo_cocktail_pina_colada.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-orange2 {
  background: linear-gradient(
      to bottom,
      rgba(252, 141, 54, 0.7),
      70%,
      rgba(251, 236, 207, 0.7)
    ),
    url('../img/photo_cocktail_maitai.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-orange2 {
  background: linear-gradient(
      to bottom,
      rgba(252, 141, 54, 0.7),
      70%,
      rgba(251, 236, 207, 0.7)
    ),
    url('../img/photo_cocktail_maitai.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-red {
  background: linear-gradient(
      to bottom,
      rgba(203, 81, 95, 0.9),
      60%,
      rgba(251, 236, 207, 0.9)
    ),
    url('../img/photo_cocktail_hurricane.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-light {
  background: linear-gradient(
      to bottom,
      rgba(251, 236, 207, 0.9),
      80%,
      rgba(252, 141, 54, 0.7)
    ),
    url('../img/photo_cocktail_margarita.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-light2 {
  background: linear-gradient(
      to bottom,
      rgba(251, 236, 207, 0.7),
      70%,
      transparent
    ),
    url('../img/photo_cocktail_tom_collins.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-light3 {
  background: linear-gradient(
      to bottom,
      rgba(251, 236, 207, 0.9),
      70%,
      transparent
    ),
    url('../img/photo_cocktail_gintonic.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-light4 {
  background: linear-gradient(
      to bottom,
      rgba(251, 236, 207, 0.9),
      90%,
      transparent
    ),
    url('../img/photo_cocktail_martini.jpg');
  @include bg-cover;
  min-height: 600px;
}

.modal-background-dark {
  background: linear-gradient(
      to top,
      rgba(35, 32, 32, 0.7),
      80%,
      rgba(251, 236, 207, 0.7)
    ),
    url('../img/photo_cocktail_cuba_libre.jpg');
  @include bg-cover;
  min-height: 600px;
}

// MODAL FONTS

.modal-header {
  font-family: 'Monoton', cursive;
}
// MAIN STRONG FONTS
.font-1 {
  font-family: 'Frijole', cursive;
}
.font-2 {
  font-family: 'Barriecito', cursive;
}

.font-3 {
  font-family: 'Finger Paint', cursive;
}

// SECONDARY LIGHTER FONTS
.font-4 {
  font-family: 'Cabin Sketch', cursive;
}

.font-5 {
  font-family: 'Love Ya Like A Sister', cursive;
}

.font-10 {
  font-family: 'Averia Libre', cursive;
}

.rotate-up {
  transform: rotate(-5deg);
}

.rotate-down {
  transform: rotate(5deg);
}

// *********************************MEDIA QUERIES ************************************

@media (max-height: 605px) {
  #sidebar {
    overflow: scroll;
  }
}

@media (max-width: 768px) {
  #content {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #showcase {
    .display-3 {
      font-size: 3rem;
    }
    .h3 {
      font-size: 1.5rem;
    }
  }
  .headers {
    h1 {
      font-size: 2rem;
    }
  }
}
